.container {
  margin: 1%;
  margin-left: 7%;
  width: 100%;
  min-height: 200%;
  height: 200% auto;
  display: block;
  align-items: center;
  background-color: rgb(0, 55, 107);
  border-radius: 2px;
}
